<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.nittka.de/tooling/jtag/Jtag" 
       class = "de.nittka.tooling.jtag.jtag.JtagPackage"
       genModel = "de/nittka/tooling/jtag/Jtag.genmodel" /> 
	
  </extension>



</plugin>
